<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.ancit.editors">
      </category>
      <view
            id="com.ancit.editors.views.SampleView"
            name="Department View"
            icon="icons/sample.png"
            class="com.ancit.editors.views.SampleView"
            category="com.ancit.editors"
            inject="true">
      </view>
     <view
           class="com.ancit.editors.views.DeptView"
           id="view.dept"
           name="Dept"
           restorable="true">
     </view>
     <view
           class="com.ancit.editors.view.DeptListView"
           id="view.deptList"
           name="Dept List"
           restorable="true">
     </view>
     <view
           category="org.eclipse.ui.forms.article"
           class="com.ancit.editors.views.FormView"
           icon="icons/sample.gif"
           id="com.ancit.editors.views.FormView"
           name="FormView">
     </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.ancit.editors.views.FormView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="tasks"
            id="com.ancit.editors.contenttype.task"
            name="Tasks"
            priority="high">
      </content-type>
   </extension>
 <extension
       point="org.eclipse.ui.genericeditor.icons">
    <icon
          contentType="com.ancit.editors.contenttype.task"
          icon="icons/sample@2x.png">
    </icon>
 </extension>
 <extension
       point="org.eclipse.ui.genericeditor.presentationReconcilers">
    <presentationReconciler
          class="com.ancit.editors.task.PropertiesReconciler"
          contentType="com.ancit.editors.contenttype.task">
    </presentationReconciler>
 </extension>   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ancit.editors.SampleFormEditor"
            contributorClass="com.ancit.editors.PropertiesEditorContributor"
            default="false"
            extensions="properties"
            icon="icons/sample.gif"
            id="com.ancit.editors.PropertiesEditor"
            name="Properties Editor">
      </editor>
      <editor
            class="com.ancit.editors.SampleFormEditor"
            icon="icons/file_obj.gif"
            id="com.ancit.editors.sampleformeditor"
            name="SampleFormEditor">
      </editor>
      <editor
            default="false"
            extensions="h"
            id="com.ancit.editors.masterdetails"
            name="Master Details">
      </editor>
      <editor
            class="com.ancit.editors.DeptEditor"
            default="false"
            id="com.ancit.editors.depteditor"
            name="DeptEditor">
      </editor>
      <editorContentTypeBinding
            contentTypeId="com.ancit.editors.contenttype.task"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
    <extension
          point="org.eclipse.ui.themes">
       <themeElementCategory
             id="com.ancit.editor.tasks.settings"
             label="Tasks settings">
       </themeElementCategory>
       <colorDefinition
             categoryId="com.ancit.editor.tasks.settings"
             id="com.ancit.editor.tasks.key"
             label="Task key color"
             value="250,0,0">
       </colorDefinition>
    </extension>
	<extension
	       point="org.eclipse.ui.genericeditor.contentAssistProcessors">
	    <contentAssistProcessor
	          class="com.ancit.editor.tasks.TodoPropertiesContentAssistProcessor"
	          contentType="com.ancit.editors.contenttype.task">
	    </contentAssistProcessor>
	 </extension>
	 <extension
	       point="org.eclipse.ui.genericeditor.contentAssistProcessors">
	    <contentAssistProcessor
	          class="com.ancit.editors.tasks.DependentTodoContentProcessor"
	          contentType="com.ancit.editors.contenttype.task">
	    </contentAssistProcessor>
	 </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="com.ancit.editors.command.DeptCommand"
           id="command.dept"
           name="Dept Command">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="menu:org.eclipse.ui.main.menu">
        <menu
              label="Functions">
           <command
                 commandId="command.dept"
                 label="Open Dept"
                 style="push">
           </command>
        </menu>
     </menuContribution>
  </extension>
	  <extension
	     point="org.eclipse.ui.actionSets">
		  <actionSet
		        id="com.ancit.editors.workbenchActionSet"
		        label="Eclipse Form Article"
		        visible="true">
		     <menu
		           id="com.ancit.editors.workbenchMenu"
		           label="F&amp;orm Article Editor"
		           path="additions">
		        <groupMarker
		              name="content">
		        </groupMarker>
		     </menu>
		     <action
		           class="com.ancit.editors.OpenFormEditorAction"
		           icon="icons/sample.png"
		           id="com.ancit.favorites.openFormEditor"
		           label="Simple For&amp;m Editor"
		           menubarPath="com.ancit.editors.workbenchMenu/content"
		           style="push"
		           toolbarPath="Normal/additions"
		           tooltip="Open the Form editor in the current workbench page">
		     </action>
		  </actionSet>
	   </extension>
</plugin>
