<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Favorites Category"
            id="com.ancit.favorites">
      </category>
      <view
            id="com.ancit.favorites.views.FavoritesView"
            name="favorites View"
            icon="icons/sample.png"
            class="com.ancit.favorites.views.FavoritesView"
            category="com.ancit.favorites"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ancit.favorites.views.FavoritesView"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.ancit.favorites.workbenchActionSet"
            label="Favorites ActionSet"
            visible="true">
         <menu
               id="com.ancit.favorites.workbenchMenu"
               label="Fa&amp;vorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="com.ancit.favorites.views.OpenFavoritesViewActionDelegate"
               icon="icons/sample.png"
               id="com.ancit.favorites.openFavoritesView"
               label="Open Favo&amp;rites View"
               menubarPath="com.ancit.favorites.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the favorites view in the current workbench page">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
		<objectContribution
		      objectClass="java.lang.Object"
		      id="com.ancit.favorites.popupMenu">
		   <action
		         label="Add"
		         tooltip="Add the selected resource(s)
		                  to the Favorites view"
		         class="com.qualityeclipse.favorites.actions.
		                AddToFavoritesActionDelegate"
		         menubarPath="com.ancit.favorites.popupSubMenu/content"
		         enablesFor="+"
		         id="com.ancit.favorites.addToFavorites">
		      <enablement>
		         <and>
		            <objectClass
		               name="org.eclipse.core.resources.IResource"/>
		             <objectState name="name" value="*.java"/>
		         </and>
		      </enablement>
		   </action>
     <menu
           id="com.ancit.favorites.popupSubMenu"
           label="Favorites"
           path="additions">
        <groupMarker
              name="content">
        </groupMarker>
        <separator
              name="additions">
        </separator>
     </menu>
		</objectContribution>
   </extension>

</plugin>
