<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Favorites Category"
            id="com.ancit.favorites">
      </category>
      <view
            id="com.ancit.favorites.views.FavoritesView2"
            name="Favorites2 View"
            icon="icons/sample.png"
            class="com.ancit.favorites.views.FavoritesView2"
            category="com.ancit.favorites"
            inject="true">
      </view>
      <view
            class="com.ancit.favorites.views.FavoritesView"
            id="com.ancit.favorites.views.FavoritesView"
            name="Favorites View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="com.ancit.favorites.views.FavoritesView2"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               ratio="0.5">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.ancit.favorites.FavoritesPerspective">
         <view
               closeable="false"
               id="com.ancit.favorites.views.FavoritesView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList">
         </view>
         <viewShortcut
               id="com.ancit.favorites.views.FavoritesView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.ancit.favorites.workbenchActionSet"
            label="Favorites ActionSet"
            visible="true">
         <menu
               id="com.ancit.favorites.workbenchMenu"
               label="Fa&amp;vorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="com.ancit.favorites.views.action.OpenFavoritesViewActionDelegate"
               icon="icons/sample.png"
               id="com.ancit.favorites.openFavoritesView"
               label="Open Favo&amp;rites View"
               menubarPath="com.ancit.favorites.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the favorites view in the current workbench page">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
		<objectContribution
		      objectClass="java.lang.Object"
		      id="com.ancit.favorites.popupMenu">
		   <action
           class="com.ancit.favorites.views.action.OpenFavoritesViewActionDelegate"
           enablesFor="+"
           id="com.ancit.favorites.addToFavorites"
           label="Add"
           menubarPath="com.ancit.favorites.compilationUnitEditorPopupSubMenu/content">
		      <enablement>
		         <and>
		            <objectClass
		               name="org.eclipse.core.resources.IResource"/>
		             <objectState name="name" value="*.java"/>
		         </and>
		      </enablement>
		   </action>
     <menu
           id="com.ancit.favorites.popupSubMenu"
           label="Favorites"
           path="additions">
        <groupMarker
              name="content">
        </groupMarker>
        <separator
              name="additions">
        </separator>
     </menu>
		</objectContribution>
  <viewerContribution
        id="com.ancit.favorites.membersViewPopup"
        targetID="com.ancit.favorites.views.FavoritesView2">
     <menu
           id="com.ancit.favorites.membersViewPopupSubMenu"
           label="Favorites"
           path="additions">
        <groupMarker
              name="content">
        </groupMarker>
        <separator
              name="additions">
        </separator>
     </menu>
     <action
           class="com.ancit.favorites.views.action.AddToFavoritesActionDelegate"
           id="com.ancit.favorites.addToFavoritesInMembersView"
           label="Add"
           menubarPath="com.ancit.favorites.membersViewPopup SubMenu/content"
           tooltip="Add selected member&apos;s compilation unit to the Favorites view">
     </action>
  </viewerContribution>
  <viewerContribution
        id="com.ancit.favorites.compilationUnitEditorPopup"
        targetID="#CompilationUnitEditorContext">
     <menu
           id="com.ancit.favorites.compilationUnitEditorPopup SubMenu"
           label="Favorites"
           path="additions">
        <groupMarker
              name="content">
        </groupMarker>
        <separator
              name="additions">
        </separator>
     </menu>
     <action
           class="com.ancit.favorites.Action3"
           id="com.ancit.favorites.addToFavoritesInCompilationUnitEditor"
           label="Add">
     </action>
  </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.ancit.favorites.membersViewActions"
            targetID="org.eclipse.jdt.ui.MembersView">
         <action
               class="com.ancit.favorites.views.action.AddToFavoritesActionDelegate"
               icon="icons/sample.png"
               id="com.ancit.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.ancit.favorites.membersViewPulldownSubMenu/content"
               style="push"
               toolbarPath="additions"
               tooltip="Add the selected items in the Members view to the Favorites view">
         </action>
         <menu
               id="com.ancit.favorites.membersViewPulldownSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.ancit.favorites.compilationUnitEditorActions"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <menu
               id="com.ancit.favorites.compilationUnitEditorPopupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.ancit.favorites.views.action.AddToFavoritesEditorActionDelegate"
               definitionId="com.ancit.favorites.commands.addToFavoritesView"
               id="com.ancit.favorites.addToFavoritesInCompilationUnitEditor"
               label="Add"
               menubarPath="com.ancit.favorites.compilationUnitEditorPopupSubMenu/content"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Favorites Commands"
            id="com.ancit.favorites.commands"
            name="Favorites">
      </category>
      <command
            category="com.ancit.favorites.commands"
            description="Add the selection to the Favorites"
            id="com.ancit.favorites.commands.addToFavoritesView"
            name="Add to Favorites View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.ancit.favorites.commands.addToFavoritesView"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
   </extension>
	<extension
	   id="auditmarker"
	   point="org.eclipse.core.resources.markers"
	   name="Properties Auditor Marker">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <attribute name="key"/>
	   <attribute name="violation"/>
	   <persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
	   <markerResolutionGenerator
	      markerType="com.qualityeclipse.favorites.auditmarker"
	      class="com.ancit.favorites.builder.ViolationResolutionGenerator">
	   </markerResolutionGenerator>
	</extension>
 <extension
       id="propertiesFileAuditor"
       point="org.eclipse.core.resources.builders">
    <builder
          hasNature="true">
       <run
             class="com.ancit.favorites.builders.PropertiesFileAuditor">
       </run></builder>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="com.ancit.favorites.FavoritresStartup">
    </startup>
 </extension>
 <extension
       id="propertiesAuditor"
       name="Favorites Properties Auditor"
       point="org.eclipse.core.resources.natures">
    <builder
          id="com.ancit.favorites.propertiesFileAuditor">
    </builder>
    <runtime>
       <run
             class="com.ancit.favorites.builders.PropertiesAuditorNature">
       </run>
    </runtime>
    <requires-nature id="org.eclipse.jdt.core.javanature"/>
   <requires-nature id="org.eclipse.pde.PluginNature"/>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="com.ancit.favorites.perspectives.FavoritesPerspectiveFactory"
          icon="icons/sample.gif"
          id="com.ancit.favorites.FavoritesPerspective"
          name="Favorites">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="com.ancit.favorites.prefs.view"
          class="com.ancit.favorites.preferences.FavoritesPreferencePage"
          id="com.ancit.favorites.preferences.FavoritesPreferencePage"
          name="Favorites Page">
    </page>
 </extension>
 <extension
       id="com.ancit.favorites.prefs.view"
       name="Favorites"
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="com.ancit.favorites.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="false"
          class="com.ancit.favorites.properties.FavoriteResourcePropertyPage"
          icon="icons/sample.gif"
          id="com.ancit.favorites.resourcePropertyPage"
          name="Favorite Properties"
          objectClass="org.eclipse.core.resources.IResource">
    </page>
 </extension>
</plugin>
